html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  margin: 0;
}

#queue-container{
  background-color: rgba(255,255,255,.25);
  width: 35%;
  height: 100%;
  position: relative;
}

#now{
  background-color: rgba(255,255,255,.25);
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 20%;
}

#queue{
  width: 100%;
  height: 100%;
}

.move{
  position: absolute;
  width: 25%;
  background-color: red;
  height: 8%;
  bottom: 15%;
}
