html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  margin: 0;
}



/* queue stuff */
#queue-container{
  background-color: rgba(255,255,255,.2);
  width: 25%;
  height: 100%;
  position: relative;
}

#queue{
  width: 100%;
  height: 100%;
}

.beat{
  position: absolute;
  width: 100%;
  height: 16.6667%;
}
.beat.l{
  background-color: blue;
}
.beat.h{
  background-color: yellow;
}
.beat.c{
  background-color: red;
}

#now{
  background-color: rgba(255,255,255,.15);
  position: absolute;
  width: 100%;
  height: 16.6667%;
  bottom: 16.6667%;
}


#fail{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: red;
  -webkit-transition: opacity .25s;
  opacity: 0;
  top: 0;
}
#fail.show{
  opacity: .8;
}
