html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  margin: 0;
}



/* queue stuff */
#queue-container{
  background-color: rgba(255,255,255,.2);
  width: 25%;
  height: 100%;
  position: relative;
}

#queue{
  width: 100%;
  height: 100%;
}

.move{
  position: absolute;
  width: 100%;
  background-color: red;
  height: 16.6667%;
}

#now{
  background-color: rgba(255,255,255,.15);
  position: absolute;
  width: 100%;
  height: 16.6667%;
  bottom: 16.6667%;
}
