html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  color: white;
  background-color: black;
  overflow: hidden;
}


video{
  width: 100%;
  height: 100%;
}



.screen{
  width: 100%;
  height: 100%;
  display: none;
}



/* Button Screen */
.button-screen{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.button-screen a, .button-screen h1.title{
  display: block;
  text-indent: -5000%;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
  background-size: contain;
}
.button-screen h1.title{
  margin: 0% auto 5%;
  width: 40%;
  padding-top: 20%;
  background-position: bottom center;
}
.button-screen a:first-of-type{
  margin-bottom: 2.5%;
}
.button-screen a{
  height: 7.5%;
}
#demo-button{
  background-image: url('/common/img/demo.png');
}
#demo-button:hover{
  background-image: url('/common/img/demo-hover.png');
}
#play-button{
  background-image: url('/common/img/play.png');
}
#play-button:hover{
  background-image: url('/common/img/play-hover.png');
}
#next-game-button{
  background-image: url('/common/img/next-game.png');
}
#next-game-button:hover{
  background-image: url('/common/img/next-game-hover.png');
}
#replay-button{
  background-image: url('/common/img/replay.png');
}
#replay-button:hover{
  background-image: url('/common/img/replay-hover.png');
}
#replay.button-screen{
  background: none;
}
#replay.button-screen h1.title{
  display: none;
}
#replay.button-screen a:first-of-type{
  margin-top: 20%;
}



.meter{
  z-index: 10;
  position: absolute;
  top: 20%;
  width: 7%;
  height: 60%;
  border: 6px solid white;
  border-top: none;
  box-sizing: border-box;
}
.meter.left{
  left: 5%;
}
.meter.right{
  right: 5%;
}
.meter.with-targets{
  border: none;
}
.meter .top{
  height: 15px;
  background-image: url('/common/img/squiggle.svg');
  background-position: center center;
  transform: scaleX(-1) scaleY(-1);
  background-size: contain;
  background-repeat: no-repeat;
  width: 105%;
  left: -2.5%;
  position: absolute;
  top: -20px;
}

.meter .target{
  border: 6px solid white;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
}
.meter .target.hi{
  top: 0;
  border-bottom: none;
}
.meter .target.lo{
  border-top: none;
  bottom: 0;
}

.meter .target.hi .squiggle{
  bottom: -20px;
}
.meter .target.lo .squiggle{
  top: -20px;
  transform: scaleX(-1) scaleY(-1);
}
.meter .squiggle{
  width: 105%;
  left: -2.5%;
  height: 15px;
  background-image: url('/common/img/squiggle.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  z-index: 1;
}

.meter .value{
  background-image: url('/common/img/meter.svg');
  background-size: 15%;
  background-position: bottom left;
  position: absolute;
  bottom: 6px;
  width: 80%;
  left: 10%;
}


#by-moonshot{
  background-image: url('/common/img/by-moonshot.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  position: absolute;
  width: 20%;
  bottom: 20px;
  right: 30px;
  height: 2%;
  background-size: contain;
  z-index: 5;
}
