#intro{
  display: block;
}



/* Configure the Button Screen */
.button-screen{
  background-image: url('./img/background.png');
}
.button-screen h1.title{
  background-image: url('./img/title.png');
}



/* Beat Stuff */
@keyframes pass {
    0%   { opacity: 1;  }
    25%  { opacity: .2; }
    50%  { opacity: 1;  }
    75%  { opacity: .2; }
    100% { opacity: 1;  }
}
.beat{
  position: absolute;
  width: 70%;
  height: 16.6667%;
  left: 15%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.beat.passed{
  animation-name: pass;
  animation-duration: .5s;
}
.beat.l{
  background-image: url('./img/boom.svg');
}
.beat.l.miss{
  background-image: url('./img/boom-miss.svg');
}
.beat.h{
  background-image: url('./img/woo.svg');
}
.beat.h.miss{
  background-image: url('./img/woo-miss.svg');
}
.beat.c{
  background-image: url('./img/clap.svg');
}
.beat.c.miss{
  background-image: url('./img/clap-miss.svg');
}

#now{
  position: absolute;
  width: 100%;
  height: 16.6667%;
  bottom: 16.6667%;
}
#now .squiggle{
  position: absolute;
  width: 105%;
  left: -2.5%;
  height: 15px;
  background-image: url('../img/squiggle.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  z-index: 1;
}
#now .squiggle-top{
  top: 0;
}
#now .squiggle-bottom{
  bottom: 0;
  transform: scaleX(-1) scaleY(-1);
}


#queue-container.miss .squiggle{
  background-image: url('../img/squiggle-miss.svg');
}
#queue-container.miss .top, #queue-container.miss .bottom{
  border-color: #e2243c;
}


#fail{
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: red;
  -webkit-transition: opacity .25s;
  opacity: 0;
  top: 0;
}
#fail.show{
  opacity: .8;
}


/* queue and score */
#queue-container{
  position: absolute;
  right: 5%;
  top: 20%;
  width: 7%;
  height: 60%;
  border: 6px solid white;
  border-top: none;
  z-index: 3;
  box-sizing: border-box;
}
#queue-container{
  border: none;
  right: 0;
  left: 5%;
}
#queue-container .top, #queue-container .bottom{
  border: 6px solid white;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}
#queue-container .top{
  border-bottom: none;
  height: 65.66%;
  top: 0;
}
#queue-container .bottom{
  border-top: none;
  height: 15.66%;
  bottom: 0;
}
#queue{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
