#intro{
  display: block;
}


/* Configure the Button Screen */
.button-screen{
  background-image: url('./img/background.png');
}
.button-screen h1.title{
  background-image: url('./img/title.png');
}



#winner{
  display: none;
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  font-size: 500%;
  background: url('./img/success.svg') no-repeat center center;
  height: 100%;
  z-index: 3;
}
