html, body{
  background-color: black;
  margin: 0;
  overflow: hidden;
  font-family: Helvetica;
}



/* intro, outro, and primary gameplay stuff */
video{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
video{
  z-index: 2;
}
#outro, #gameplay{
  display: none;
  opacity: 0;
  transition: .5s linear opacity;
}
#gameplay{
  display: block;
}
#outro.show, #gameplay.show{
  opacity: 1;
}





#winner{
  display: none;
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  font-size: 500%;
  background: url('./img/success.svg') no-repeat center center;
  height: 100%;
  z-index: 3;
}
