html, body{
  font-family: Helvetica;
  margin: 0;
  overflow: hidden;
  height: 100%;
}
body{
  position: relative;
}

h1{
  font-size: 120%;
  margin: 0;
  padding: 0;
  padding-left: 5%;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,.25);
  background-color: rgba(0,0,0,.15);
}

.fieldset{
  margin-top: 15px;
  border-bottom: 1px solid rgba(0,0,0,.25);
}

label{
  display: block;
  margin-bottom: 5px;
  margin-left: 5%;
}
label span{
  font-weight: bold;
  float: right;
  margin-right: 5%;
}


input{
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 25px;
}
input[type='range']{
  -webkit-appearance: none;
  width: 90%;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #000000;
  height: 36px;
  width: 35px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: rgba(0,0,0,.25);
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

.channels{
  width: 100%;
  overflow: hidden;
}
.channel{
  width: 50%;
  float: left;
}
.channel:first-child h2{
  padding-left: 10%;
}
.channel:last-child h2{
  text-align: right;
  padding-right: 10%;
}
.channel .volume-container{
  height: 150px;
  background-color: black;
  position: relative;
}
.channel:first-child .volume-container{
  border-right: 2px solid white;
}
.channel .volume{
  background-color: red;
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
}
.channel .threshold{
  width: 100%;
  height: 1px;
  background-color: yellow;
  position: absolute;
  z-index: 2;
}


.frequencies{
  overflow: hidden;
  margin-top: 2px;
}
.frequency-wrapper{
  float: left;
}
.frequency-container{
  background-color: black;
  height: 100px;
  position: relative;
}
.frequency{
  backgorund-color: green;
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
  background-color: green;
}
