html, body{
  font-family: Helvetica;
  margin: 0;
  padding-top: 10px;
}

h1{
  font-size: 120%;
  margin: 0;
  padding: 0;
  padding-left: 5%;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,.25);
}

.fieldset{
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0,0,0,.25);
}

label{
  display: block;
  margin-bottom: 15px;
  margin-left: 5%;
}
label span{
  font-weight: bold;
  float: right;
  margin-right: 5%;
}
input{
  display: block;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

.channels{
  width: 100%;
}
.channel h2{
  font-size: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.channel{
  width: 50%;
  float: left;
}
.channel:first-child h2{
  padding-left: 10%;
}
.channel:last-child h2{
  text-align: right;
  padding-right: 10%;
}
.channel .volume-container{
  height: 200px;
  background-color: black;
  position: relative;
}
.channel:first-child .volume-container{
  border-right: 2px solid white;
}
.channel .volume{
  background-color: red;
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
}


.frequencies{
  margin-top: 20px;
}

.frequencies h3{
  margin: 0;
  font-size: 90%;
  text-align: center;
}
.frequency-wrapper{
  float: left;
}
.frequency-container{
  border-right: 2px solid white;
  background-color: black;
  height: 100px;
  position: relative;
}
.frequency{
  backgorund-color: green;
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
  background-color: green;
}
