html, body{
  background-color: black;
  margin: 0;
  overflow: hidden;
}



#stage-left, #stage-right{
  position: absolute;
  left: 5%;
  top: 10%;
  width: 7%;
  height: 80%;
  border-left: 5px solid white;
  border-right: 5px solid white;
}
#stage-right{
  left: auto;
  right: 5%;
}



.top, .bottom{
  background-image: url('./img/squiggle.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 105%;
  height: 5%;
  left: -2.5%;
  position: absolute;
}
.bottom{
  bottom: -.25%;
  transform: scaleX(-1) scaleY(-1);
}



.volume{
  background-image: url('./img/line-meter.svg');
  background-size: 100%;
  position: absolute;
  background-position: bottom left;
  bottom: 2%;
  width: 80%;
  left: 10%;
}
