html, body{
  background-color: black;
  margin: 0;
  overflow: hidden;
}



/* intro, outro, and primary gameplay stuff */
video{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
video{
  z-index: 2;
}
#outro, #gameplay{
  display: none;
  opacity: 0;
  transition: .5s linear opacity;
}
#gameplay{
  display: block;
}
#outro.show, #gameplay.show{
  opacity: 1;
}




#stage-left, #stage-right{
  position: absolute;
  left: 5%;
  top: 20%;
  width: 7%;
  height: 60%;
  border: 6px solid white;
  border-top: none;
}
#stage-right{
  left: auto;
  right: 5%;
}



.top{
  background-image: url('./img/squiggle.svg');
  background-position: center center;
  background-size: contain;
  transform: scaleX(-1) scaleY(-1);
  background-repeat: no-repeat;
  width: 105%;
  height: 5%;
  left: -2.5%;
  top: -7%;
  position: absolute;
}



.volume{
  background-image: url('./img/line-meter.svg');
  background-size: 15%;
  position: absolute;
  background-position: bottom left;
  bottom: 2%;
  width: 80%;
  left: 10%;
}



#winner{
  display: none;
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  font-size: 500%;
  background: url('./img/success.svg') no-repeat center center;
  height: 100%;
  z-index: 3;
}
