html, body{
  background-color: black;
  margin: 0;
  overflow: hidden;
}



#stage-left, #stage-right{
  position: absolute;
  left: 5%;
  top: 20%;
  width: 7%;
  height: 60%;
  border: 6px solid white;
  border-top: none;
}
#stage-right{
  left: auto;
  right: 5%;
}



.top{
  background-image: url('./img/squiggle.svg');
  background-size: contain;
  transform: scaleX(-1) scaleY(-1);
  background-repeat: no-repeat;
  width: 105%;
  height: 5%;
  left: -2.5%;
  top: -7%;
  position: absolute;
}



.volume{
  background-image: url('./img/line-meter.svg');
  background-color: #e1243b;
  background-size: 100%;
  position: absolute;
  background-position: bottom left;
  bottom: 2%;
  width: 80%;
  left: 10%;
}
