#intro{
  display: block;
}



/* Configure the Button Screen */
.button-screen{
  /*display: block;*/
  background-image: url('./img/background.png');
}
.button-screen h1.title{
  background-image: url('./img/title.png');
}



/* Frame Animator */
#frame-wrapper{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#framed{
  width: 100%;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}

/* Winner Screen */
#winner{
  display: none;
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  background: url('./img/blast-off.svg') no-repeat center center;
  background-size: 30%;
  height: 100%;
}
